:root {
    --skyBlue: rgb(135, 168, 179);
    --purple: rgb(83, 53, 99);
}

section, #city, #week, #input, .empty {
    border: 0;
    margin: 0;
    padding: 0;
}

#week {
    flex-wrap: wrap;
    justify-content: center;
}

#week div {
    flex: 0 0;
}

p {
    font-size: 12pt;
}

input {
    flex: 5 5;
}

img {
    background: var(--skyBlue);
}

#input, #week {
    display: flex;
}

#searchit {
    border-color: var(--teal);
}

#week div {
    background: var(--cloudy);
    border-color: black;
}

#week div, #input button, #clear {
    background: rgb(0, 96, 128);
    color: white;
    text-shadow: 2px 2px 2px black;
}

#week div {
    margin: 0px 3px 6px 3px;
}

#city {
    flex: 3 3;
}

h2, #city h1, #city p {
    text-align: left;
}

p, #current h1 {
    background: 0;
    border: 0;
}

#red {
    border-color: var(--red);
}

#red, #fiveday {
    margin: 0px 6px 6px 3px;
}

#search {
    margin: 0px 3px 6px 6px;
}

#fiveday {
    border-color: var(--yellow);
}

/* #fiveday h2 {
    margin: 6px 3px 0px 3px;
} */

.historycount {
    display: flex;
    flex-direction: column-reverse;
    border: 0;
    margin: 0;
    padding: 0;
}

.historycount button {
    margin: 3px;
}

.purple {
    border: 1px solid var(--purple);
    margin: 4px;
    padding: 4px;
}

header h1 {
    border: None;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.75)
}

#current {
    border: None;
}

#current h1, #current p {
    color: rgba(255, 255, 255, 0.75)
}

header, #search, #red, #fiveday {
    border-radius: 12px;
}

header {
    margin: 6px;
}

@media screen and (max-width: 980px) {
    section {
        display: block;
    }
}